{% extends "base.html" %}

{% block content %}
    <h1>Мой простой чат</h1>
    <h2>Твой ID: <span id="ws-id"></span></h2>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Отправить</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>

        async function getLastMessage() {
            const url = 'http://localhost:8000/chat/last_messages';
            const response = fetch(url, {
                method: 'GET',
            })
            return (await response).json()
        }

        function appendMessages(data) {
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(data)
            message.appendChild(content)
            messages.appendChild(message)
        }


        getLastMessage().then(data => {
            data.forEach(data => {
                appendMessages(data.message)
            })
        })

        var client_id = Date.now()
        document.querySelector("#ws-id").textContent = client_id;
        var ws = new WebSocket(`ws://localhost:8000/chat/ws/${client_id}`);
        ws.onmessage = function (event) {
            appendMessages(event.data)
        };

        function sendMessage(event) {
            var input = document.getElementById("messageText")
            ws.send(input.value)
            input.value = ''
            event.preventDefault()
        }
    </script>
{% endblock %}